/*
|-----------------------------------------------------------------------------------------------------------------
| LEADERBOARD
|-----------------------------------------------------------------------------------------------------------------
*/
ul.leaders-list {
	padding: 0;
	/*background: @colGreySoft;*/
	li {
		list-style: none;
		margin: 0 0 2px 0;
		padding: 10px 15px;
		background: darken(@colGreyDark, 10%);
		&:hover {
			color: @colWhite;
			background: darken(@colGreyDark, 15%);
			cursor: pointer;
		}
	}
}

/*
|-----------------------------------------------------------------------------------------------------------------
| PROGRESS / RESULTS
|-----------------------------------------------------------------------------------------------------------------
*/
.result {
	/*margin-left: 0px;
	margin-right: 0px;
	padding: 10px 0 4px 0;
	&:hover {
		color: #FFF;
		background: #333;
		cursor: pointer;
	}*/
}
.result p {
	font-size: 14px;
	margin-top: 3px; 
}
.result div:first-child {
	margin-bottom: -12px;
	text-align: left;
}
.guage-container {
	position: relative;
	width: 100%;
	height: 7px;
	background: #EEEEEE;
	display: inline-block;
}
.guage-line {
	position: absolute;
	height: 16px;
	width: 1px;
	margin-top: -5px;
	margin-left: -1px;
	background: #666;
	display: inline-block;
}
.guage {
	height: 7px;
	float: left;
}
.poor {
	background: @colGreyDark;
	width: 0;
	display: inline-block;
}
.low {
	background: @colRedLight;
	width: 0;
	display: inline-block;
}
.good {
	background: @colBlueLight;
	width: 0;
	display: inline-block;
}
.high {
	background: @colGreenLight;
	width: 0;
	display: inline-block;
}
.poop {
	width: 0;
}
.none {
	display: none;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| TYPOGRAPHY
|-----------------------------------------------------------------------------------------------------------------
*/

h3 {
	font-weight: 600;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| KEY NOTES
|-----------------------------------------------------------------------------------------------------------------
*/
.key-notes {
	h1 {
		font-family: @fontHead;
		font-size: 26px;
		letter-spacing: -1px;
		text-transform: uppercase;
		strong {
			font-weight: 400;
		}
	}
	h2 {
		font-size: 22px;
		letter-spacing: -1px;
		text-transform: uppercase;
	}
	h3 {
		font-size: 18px;
		letter-spacing: -1px;
		text-transform: uppercase;
	}
	h4 {
		font-size: 14px;
		line-height: 1.2;
	}
	h5 {
		font-size: 12px;
		letter-spacing: -1px;
		line-height: 1.3;
	}
	p {
		font-size: 16px;
		letter-spacing: -0.3px;
	}

	ul {
		/*background: @colGreySoft;*/
		li {
			margin: 0 0 10px 0;
			padding-left: 3px;
		}
	}

}



/*
|-----------------------------------------------------------------------------------------------------------------
| LISTS
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| LINKS
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| FORMS
|-----------------------------------------------------------------------------------------------------------------
*/

/*
|-----------------------------------------------------------------------------------------------------------------
| TABLES
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| IMAGES
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| BUTTONS
|-----------------------------------------------------------------------------------------------------------------
*/
.key-notes {
	position: relative;
	ul li {
		margin-left: -22px;
	}
	.btn-pdf {
		color: @colWhite;
		margin: 15px 0;
		background-color: @colGreenDark;
		border-color: darken(@colGreenDark, 20%);
	}
	.btn-pdf:hover {
		color: @colWhite;
		background-color: darken(@colGreenDark, 10%);
		border-color: darken(@colGreenDark, 20%);
	}
	.btn-pdf:before {
		color: @colWhite;
		content:"\f0ed ";
		font-size: 14px;
		font-family: FontAwesome; /* FontAwesome or whatever */
		display: inline-block;
  		width: 16px;
  		padding-right: 20px;
	}

}

.btn-back {
	position: fixed;
	font-size: 30px;
	color: @colWhite;
	background: @colRedLight;
	/*background: rgba(0,0,0, 0.9);*/
	padding: 15px 30px 15px 25px;
	bottom: -100px;
	cursor: pointer;
	.transition;
	&:hover {
		color: @colWhite;
		background: #333;
		.transition-fast;
	}
}

.btn-top {
	.btn-back;
	padding: 13px 30px 18px 25px;
	right:0;
	bottom: -100px;
	z-index: 1000;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| OWL CAROUSEL SLIDER
|-----------------------------------------------------------------------------------------------------------------
*/
.owl-prev,
.owl-next {
	text-transform: uppercase;
}
.quest-num {
	color: @colRedLight;
	background: none;
	padding: 0;
	display: inline-block;
}
.owl-carousel-cont {
	background: #FFF;
	padding: 5px 15px 15px 15px;
	overflow: hidden;
	border-top: solid 10px #F5F5F5;
	border-bottom: solid 10px #F5F5F5;
	textarea {
		margin-bottom: 15px;
	}
	.btn {
		margin-bottom: 10px;
	}
}
.flash-cards-options {
	background: #FFF;
	margin-top: 30px;
	padding: 20px;
	overflow: hidden;
	border: dashed 1px #EBEBEB;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| MISC
|-----------------------------------------------------------------------------------------------------------------
*/
.hr-written {
	margin: 20px 0;
}








/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 768px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 979px) {

	.result div:first-child {
		margin-bottom: -12px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	.result div:first-child {
		margin-bottom: -12px;
	}
}

