/*
|-----------------------------------------------------------------------------------------------------------------
| IMPORTS (MIXINS)
|-----------------------------------------------------------------------------------------------------------------
*/
@import url("mixins.less"); /*Get Mixins*/ 
@import url("styles_sections.less"); /*Get Mixins*/ 

/*
|-----------------------------------------------------------------------------------------------------------------
| STRUCTURE
|-----------------------------------------------------------------------------------------------------------------
*/
body {
	position: relative;
	font-family: @font;
	font-weight: 400;
	color: #333;
	font-size: 14px;
	padding-top: 48px;
	background: @colWhite;
	overflow-x: hidden;
	/*.noselect*/
}
.footer {
	color: @colWhite;
	background: darken(@colGreyDark, 25%);
	margin: 0 0 10px 0;
	padding: 20px 0 10px 0;
	border-bottom: solid 3px @colRedLight;
	text-align: center;
}
.topics-list p {
	font-weight: 300;
	small {
		font-weight: 300;
	}
}
.footer div.col-sm-3 {
	margin-bottom: 35px;
}
.band-topic-sections {
	position: relative;
	color: @colWhite;
	background: darken(@colGreyDark, 25%);
	padding-top: 30px;
	padding-bottom: 30px;
}
.band-white-home {
	background: @colWhite;
	margin: 0;
	padding: 40px 0;
}
.band-white {
	background: @colWhite;
	margin: 0;
	padding: 40px 0;
}
.band-red {
	color: @colWhite;
	background: @colRedLight;
	margin: 0;
	padding: 40px 0;
}
.band-grey {
	background: @colGreySoft;
	margin: 0;
	padding: 40px 0;
}
.band-grey-dark {
	color: @colWhite;
	background: @colGreyDark;
	margin: 0;
	padding: 40px 0;
}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

.module-parent {
	position: relative;
	margin-top: 20px;
}
.module-head {
	background: #FAFAFA;
	margin: -10px -20px 15px -20px;
	padding: 14px 20px 6px 20px;
	text-align: center;
	h4 {
		font-size: 26px;
	}
}
.modules {
	color: @colWhite;
	margin: 20px 0 30px 0;
	padding: 10px 20px 20px 20px;
	top:0;
	.transition-fast;
	box-shadow: none;
	
	&:hover {
		top:-10px;
		.transition-fast;
		cursor: zoom-in;
		box-shadow: 0px 0px 10px 5px rgba(0,0,0, 0.15);
		z-index: 1000;
		/*min-height: 570px;*/
	}
}
.modules a {
	color: @colWhite;
}
.current-user {
	padding: 15px 0 7px 0;
	background: #FFF;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| OFF-CANVAS
|-----------------------------------------------------------------------------------------------------------------
*/
.topics-off-canvas-btn {
	position: fixed;
	font-size: 22px;
	color: @colWhite;
	background: @colRedLight;
	/*padding: 15px 30px 15px 30px;*/
	padding: 35px 24px 34px 24px;
	top: 0;
	right: 0;
	cursor: pointer;
	.transition-fast;
	&:hover {
		color: @colWhite;
		background: #333;
		.transition-fast;
	}
	z-index: 1081;
}
.topics-off-canvas-btn-small {
	.topics-off-canvas-btn;
	padding: 9px 24px 9px 24px;
}

.topics-off-canvas {
	position: fixed;
	top: 0;
	height: 100%;
	right:-300px;
	color: @colWhite;
	font-size: 13px;
	font-weight: 400;
	background: #3E3E3E;
	z-index: 1080;
	-webkit-box-shadow:inset 40px 0 30px -30px rgba(0,0,0,0.7);
	box-shadow:inset 40px 0 30px -30px rgba(0,0,0,0.7);
	overflow: hidden;
}
.topics-off-canvas-show {
	.topics-off-canvas;
	right:0px;
	width: 350px;
	.transition-fast;
}
.topics-off-canvas-content {
    position: absolute;
    padding: 80px 20px 50px 0;
    margin-bottom: 50px;
    top: 0;
    bottom: 0;
    left:0;
    right: -20px; /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    h2 {
    	padding-left: 40px;
    }
    .btn {
    	margin: 15px 0 0 40px;
    }
}

ul.canvas-topics {
	z-index: 1050;
	padding: 0;
	li {
		color: @colGreySoft;
		-webkit-box-shadow:inset 40px 0 30px -30px rgba(0,0,0,0.7);
		box-shadow:inset 40px 0 30px -30px rgba(0,0,0,0.7);
		list-style: none;
		background: linear-gradient(#3E3E3E, #383838);
		padding: 10px 10px 10px 40px;
		margin-right: -10px;
		&:hover {
			background: linear-gradient(#484848, #383838);
		}
	}
}
  

/*
|-----------------------------------------------------------------------------------------------------------------
| TYPOGRAPHY
|-----------------------------------------------------------------------------------------------------------------
*/
h1 {
	font-size: 50px;
	font-weight: 300;
	letter-spacing: -1px;
}
h2 {
	font-family: @fontHead;
	font-size: 26px;
	font-weight: 400;
	letter-spacing: -1px;
	text-transform: uppercase;
}
h3 {
	font-family: @fontHead;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -1px;
	text-transform: uppercase;
}
h4 {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.2;
}
h5 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -1px;
	line-height: 1.3;
}
p {
	letter-spacing: -0.3px;
}
.giant-text {
	font-family: @fontHead;
	font-weight: 300;
	font-size: 40px;
	color: @colRedLight;
	margin-bottom: -30px;
	letter-spacing: 0;
	text-shadow: none;
}
.giant-text-rev {
	.giant-text;
	color: @colWhite;
}
.icon-super {
	font-size: 120px;
	margin-bottom: -25px;
}
.icon-sub-super {
	font-size: 90px;
	margin-bottom: -15px;
}
.icon-med {
	font-size: 40px;
	margin-bottom: -10px;
}
.hero-text {
	.giant-text;
	font-weight: 300;
	font-size: 60px;
	letter-spacing: -3px;
}
.count {
	.giant-text;
	font-size: 60px;
	letter-spacing: -3px;
	width:300px !important;
	margin: 0 auto;
	padding: 4px 0 0 0;
	border-top:dotted 1px @colRedLight;
	border-bottom:dotted 1px @colRedLight;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.justify {
	text-align: justify;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| FULL COLUMN
|-----------------------------------------------------------------------------------------------------------------
*/
.col-full {
	margin: 0;
}
.col-full .created {
	text-transform: uppercase;
}
.col-full ul {
	padding: 0;
	/*background: @colGreySoft;*/
	li {
		margin: 0 0 5px 0;
		padding-left: 18px;
		list-style: none;
	}
}
.col-full li:before {
	color: @colRedLight;
	content:"\f00c ";
	font-family: FontAwesome; /* FontAwesome or whatever */
	display: inline-block;
	width: 1.2em; /* same as padding-left set on li */
	margin-left: -1.2em; /* same as padding-left set on li */
}​

/*
|-----------------------------------------------------------------------------------------------------------------
| SIDEBAR
|-----------------------------------------------------------------------------------------------------------------
*/
.sidebar {
	margin: 14px 0;
	p {
		font-size: 14px;
	}

	ul li, ol li {
		font-size: 14px;
	}
	ul li:before {
		color: @colRedLight;
		content:"\f00c ";
		font-size: 14px;
		font-family: FontAwesome; /* FontAwesome or whatever */
		display: inline-block;
  		width: 16px;
	}
	ol li {
		list-style-type: decimal;
		margin-left: 17px;
	}
}
.col-full {
	ol li {
		list-style-type: decimal;
		margin-left: 17px;
	}
}

/*
|-----------------------------------------------------------------------------------------------------------------
| SUBSCRIPTIONS
|-----------------------------------------------------------------------------------------------------------------
*/
.subs-container-light {
	color: @colWhite;
	background: @colRedDark;
	margin-bottom: 20px;
	padding: 15px 30px 30px 30px;
	h3 {
		font-size: 40px;
	}
}
.subs-container-dark {
	.subs-container-light;
	background: @colCharcoalDark;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| LISTS
|-----------------------------------------------------------------------------------------------------------------
*/
.modules ul {
	padding: 0;
	margin-left: 0;
	list-style: none;
}

.modules li {
	/*border-bottom: dotted 1px lighten(@colWhite, 30%);*/
	border-bottom: dotted 1px rgba(255,255,255, 0.5);
	padding: 5px 20px;
}

.modules ul li:before {
	content:"\f00c";
	font-size: 14px;
	font-family: FontAwesome; /* FontAwesome or whatever */
	display: inline-block;
	width: 1.2em; /* same as padding-left set on li */
	margin-left: -1.2em; /* same as padding-left set on li */
}​

.modules a:hover li {
	color: @colWhite;
	background: transparent;
	&:hover {
		text-decoration:none !important;
	}
}

.modules a > li {
	margin: 0 -20px;
	padding-left: 40px;
	padding-right: 40px;
	padding: 5px 20px;
	margin: 0 1px;
	display: block;
	&:hover {
		background: @colRedLight;
		text-decoration: none !important;
	}
}

/*
|-----------------------------------------------------------------------------------------------------------------
| LINKS
|-----------------------------------------------------------------------------------------------------------------
*/
a {
	color: @colRedLight;
	&:hover {
		color: @colBlueLight;
	}
}
a:hover {
	text-decoration: none;
}
:focus {outline:0 !important;}

.social-media a .fa,
.social-media p a {
	color: @colGreyDark;
	&:hover {
		color: @colWhite;
		.transition-fast;
	}
}
.topics-list a {
	color: #333;
	&:hover {
		color: @colRedLight;
	}
}

/*
|-----------------------------------------------------------------------------------------------------------------
| MENUS
|-----------------------------------------------------------------------------------------------------------------
*/
.mode-tabs-menu {
	margin-top: 50px;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| FORMS
|-----------------------------------------------------------------------------------------------------------------
*/
.fa-fa {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}


label {
	font-size: 14px;
	font-weight: 600;
	margin: 0 0 4px 5px;
}
.radio label, 
.checkbox label {
	font-weight: 400;
}
select {
	margin-bottom: 20px;
}
input.form-control {
	border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-transition: none;
	-webkit-transition: none;
	border:solid 1px #DDD;
}
input.form-control:focus {
	/*border:none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-moz-transition: none;
	-webkit-transition: none;
	border:solid 1px #DDD;*/
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
.form-control:focus {
	border-color: none;
	box-shadow: none;
	outline: 0;
}
.form-control {
    margin-bottom: 10px;
	border-radius: 0;
}
.form-group-lg .form-control {
	.form-control;
    height: 46px;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 1.33333;
}
.form-group-md .form-control {
	.form-control;
    height: 38px;
    padding: 10px 16px;
    font-size: 13px;
    line-height: 1.33333;
}


/*
|-----------------------------------------------------------------------------------------------------------------
| TABLES
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| IMAGES
|-----------------------------------------------------------------------------------------------------------------
*/
/*may need to remove this*/
.key-notes img {
    height: auto !important;
    width: auto !important;
}

.img-border {
	border: solid 5px @colWhite;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| BUTTONS
|-----------------------------------------------------------------------------------------------------------------
*/
.btn {
	font-family: @fontHead;
	border: none;
	border-bottom: solid 4px transparent;
	border-radius: 0;
	text-transform: uppercase;
	display: block;
}
a.btn {
	&:hover, &:active, &:focus {
		color: @colWhite !important;
	}
}
.btn-red {
	color: @colWhite;
	background-color: @colRedLight;
	border-color: @colRedDark;
}
.btn-red:hover {
	color: @colWhite;
	background-color: darken(@colRedLight, 10%);
	border-color: darken(@colRedLight, 20%);
}
.btn-blue {
	color: @colWhite;
	background-color: @colBlueLight;
	border-color: darken(@colBlueLight, 15%);
}
.btn-blue:hover {
	color: @colWhite;
	background-color: darken(@colBlueLight, 5%);
	border-color: darken(@colBlueLight, 15%);
}
.btn-yellow {
	color: @colWhite;
	background-color: @colYellow;
	border-color: darken(@colYellow, 15%);
}
.btn-yellow:hover {
	color: @colWhite;
	background-color: darken(@colYellow, 6%);
	border-color: darken(@colYellow, 15%);
}
.btn-green {
	color: @colWhite;
	background-color: @colGreenDark;
	border-color: darken(@colGreenDark, 15%);
}
.btn-green:hover {
	color: @colWhite;
	background-color: darken(@colGreenDark, 6%);
	border-color: darken(@colGreenDark, 15%);
}
.btn-grey {
	color: @colWhite;
	background-color: @colGreyDark;
	border-color: darken(@colGreyDark, 15%);
}
.btn-grey:hover {
	color: @colWhite;
	background-color: darken(@colGreyDark, 6%);
	border-color: darken(@colGreyDark, 15%);
}
.btn-settings {
		&:hover, &:active, &:focus {
		color:@colWhite;
	}
	margin-top: -3px;
}
.btn-back-2 {
	margin-top: -10px;
}
.back-top {
	margin-top: 0px;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| COLOURS
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| PADDING / MARGINS
|-----------------------------------------------------------------------------------------------------------------
*/
.mar20 { margin: 20px 0; }
.marTop20 { margin-top: 20px; }
.marBot20 { margin-bottom: 20px; }
.mar60 { margin: 60px 0; }
.marTop60 { margin-top: 60px; }
.marBot60 { margin-bottom: 60px; }

.pad20 { padding: 20px 0; }
.padTop20 { padding-top: 20px; }
.padBot20 { padding-bottom: 20px; }
.pad60 { padding: 60px 0; }
.padTop60 { padding-top: 60px; }
.padBot60 { padding-bottom: 60px; }

/*
|-----------------------------------------------------------------------------------------------------------------
| ICONS
|-----------------------------------------------------------------------------------------------------------------
*/
.icon-circle {
	color: @colWhite;
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	width:100%;
	margin-left: 0;
	margin-right: -15px;
	background: @colRedLight;
	padding: 30px;
	text-align: center;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| MISC
|-----------------------------------------------------------------------------------------------------------------
*/
video {
	width: 100% !important;
	height: auto !important;
	margin-top: 20px;
	/*border: solid 1px @colGreyDark;*/
}
hr {
	margin: 60px 0;
}
hr.small {
	margin: 20px 0;
}
/* Red / Grey line separator */
div.multiseparator::before {
	background-color: #DDD;
	bottom: 1px;
	content: "";
	display: block;
	height: 1px;
	left: 65px;
	position: absolute;
	width: 1200px;
	z-index: 10;
}
*::after, *::before {
	box-sizing: border-box;
}
div.multiseparator::after {
	background-color: @colRedLight;
	bottom: 0;
	content: "";
	display: block;
	height: 3px;
	left: 0;
	position: absolute;
	width: 50px;
	z-index: 10;
}
*::after, *::before {
	box-sizing: border-box;
}
div.multiseparator {
	height: 3px;
	margin: 3px 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.vc_custom {
	margin-bottom: 20px !important;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| BOOTSTRAP - OVERIDES
|-----------------------------------------------------------------------------------------------------------------
*/
/* Well */
.well {
    min-height: 20px;
    padding: 20px 30px 30px 30px;
    margin-bottom: 20px;
}
.well-trans {
	.panel-block;
}

/* Navbar */
.navbar-fixed-top .navbar-collapse, 
.navbar-fixed-bottom .navbar-collapse {
    max-height: 640px;
}
.navbar-default {
	background-color: @colWhite;
    border-color: #DDD;
}
.navbar-default .navbar-nav > li > a {
	font-size: 14px;
    color: #000;
    font-family: @fontHead;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	font-size: 14px;
	color: #000;
	border-bottom: none;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #000;
	border-bottom: none;
	background: transparent;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-brand {
	padding: 15px 15px 15px 5px;
}
.carousel-inner {
	/*margin-bottom: 70px;*/
}

.carousel-caption {
	h2 {
		margin-top: 0; 
	}
}

/* Nav Tabs */
.mode-tabs-menu {
    margin-top: 20px;
}
.e-tabs > .nav {
	text-align: center;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:active {
	color: #FFF;
	background: darken(@colGreyDark, 25%);
	border-width: 0;
	border-style: solid;
	border-color: #DDD #DDD transparent;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	cursor: default;

}

.nav-tabs > li > a {
	color: @colWhite;
	font-size: 14px;
	font-weight: 600;
    margin-right: 0;
    line-height: 1.42857;
    border: none;
    border-radius: 0;
    background: @colGreyDark;
   /* background: lighten(@colGreyMid, 10%);*/
    &:hover {
    	color: @colWhite;
    	background: darken(@colGreyDark, 25%);
    	.transition-fast;
    }
}

.nav-tabs > li {
    float: none;
    margin-bottom: -1px;
    display: block;
}

/* Accordion */
#accordion * {
	border: none;
	box-shadow: none;
	border-radius: 0 !important;
	p {
		font-size: 14px;
	}
}
#accordion a {
	&:hover, 
	&:focus, 
	&:active {
		text-decoration: none;
		color: @colWhite;
		background:@colGreyMid;
	}
}
.panel-group .panel {
  margin-bottom: -5px;
}
.panel-title a {
	display: block;
	padding: 10px 15px;
	margin: -10px -15px;
}
.panel-default > .panel-heading {
	color: #444;
	background-color: @colWhite;
}
.panel-body {
	background: @colGreySoft;
}

/* Carousel */


/* Label */
.label-default {
	font-size: 20px;
	font-weight: 400;
	background-color: @colRedLight;
}

/* Dropdown Btn */
.dropdown-menu > li > a {
	padding: 3px 20px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.42857;
	color: #999;
	white-space: nowrap;
	text-transform: uppercase;
}
.dropdown-menu {
	border-radius: 0;
	border: none;
}




/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	body {
		font-size: 16px;
		padding-top: 97px;
	}

	h1 {
		font-size: 60px;
	}

	h4 {
		font-size: 24px;
		line-height: 1.2;
	}

	.giant-text {
		font-size: 50px;
		margin-bottom: 10px;
		letter-spacing: 0;
		text-shadow: none;
	}
	.giant-text-rev {
		.giant-text;
		color: @colWhite;
	}

	.carousel-caption {
		h2 {
			font-family: @font;
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 10px;
			text-transform: lowercase;
		}
	}

	.footer {
		color: @colWhite;
		background: darken(@colGreyDark, 25%);
		margin: 0 0 10px 0;
		padding: 60px 0 40px 0;
		border-bottom: solid 3px @colRedLight;
		text-align: center;
	}

	.modules {
		min-height: 600px;
		padding: 10px 20px 10px 20px;
	}

	.btn {
		display: inline-block;
	}

	.band-topic-sections {
		padding: 30px 0;
	}
	.band-white-home {
		padding: 80px 0;
	}
	.band-white,
	.band-red,
	.band-grey,
	.band-grey-dark {
		padding: 60px 0;
	}

	/*
	|-----------------------------------------------------------------------------------------------------------------
	| MAIN HEADER NAV BAR - ANIMATED
	|-----------------------------------------------------------------------------------------------------------------
	*/
	.nav > li > a {
		padding: 12px 16px;
	}
	.navbar, .navbar-brand {
		transition: all 0.4s;
		-moz-transition: all 0.4s; /* Firefox 4 */
		-webkit-transition: all 0.4s; /* Safari and Chrome */
		-o-transition: all 0.4s; /* Opera */
	}
	.navbar-nav {
		float: right;
	}
	.navbar-nav > li > a,
	.navbar-nav > li > a:hover {
	    font-size: 18px;
	   	padding: 10px;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
		border-bottom: solid 5px @colRedLight;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus {
		border-bottom: solid 5px @colRedLight;
	}
	nav.menu-bar-small.navbar-default .navbar-brand, 
	.navbar-default .navbar-brand:active  {
		background: url('../../images/logo_elearn_small.png') no-repeat left center;
		width: 281px;
		height: 13px;
		margin-top:5px;
		margin-left: 0;
	}
	nav.menu-bar-large.navbar-default .navbar-brand, 
	.navbar-default .navbar-brand:active  {
		background: url('../../images/logo_elearn.png') no-repeat left center;
		width: 281px;
		height: 22px;
		margin-top:0;
		margin-left: 0;
	}
	nav.menu-bar-small.navbar-default .navbar-brand:hover, 
	.navbar-default .navbar-brand:focus {
		background: url('../../images/logo_elearn_small.png') no-repeat left center;
		margin-top:5px;
	}
	nav.menu-bar-large.navbar-default .navbar-brand:hover, 
	.navbar-default .navbar-brand:focus {
		background: url('../../images/logo_elearn.png') no-repeat center center;
		margin-top:0;
	}
	nav.menu-bar-small {
		padding: 6px 20px 0 20px;
	}
	nav.menu-bar-large {
		height:101px;
		padding: 34px 20px 26px 20px;
	}

	.nav-tabs > li {
	    float: none;
	    margin-bottom: -1px;
	    display: inline-block;
	}

}

@media (min-width: 768px) and (max-width: 978px) {
	.navbar-brand {
		display: none;
		padding: 15px 15px 15px 5px;
		background: none;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 979px) {

	.giant-text {
		font-family: @font;
		font-size: 70px;
		font-weight: 300;
		margin-bottom: 0px;
	}
	.giant-text-rev {
		.giant-text;
		color: @colWhite;
	}
	.carousel-caption {
		h2 {
			font-family: @font;
			font-size: 32px;
			font-weight: 300;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.giant-text {
		font-size: 100px;
	}
	.giant-text-rev {
		.giant-text;
		color: @colWhite;
	}
	.carousel-caption {
		h2 {
			font-size: 32px;
		}
	}
}