php_value memory_limit "200M"

# no nasty hackers in here!
# order deny,allow
# deny from all
# allow from 122.61.180.100

AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

#RewriteEngine on
#RewriteCond $1 !^(index\.php|images|robots\.txt)
#RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /elearn_NEW/index.php/$1 [L]